{% extends 'base.html.twig' %}

{% block title %}List Voiture
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="text-center">List des Voitures</h1>
			</div>
		</div>
	</div>

{% endblock %}
