{% extends 'base.html.twig' %}

{% block title %}List Voiture
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="text-center">List des Voitures</h1>
				<table class="table w-100">
					<tr>
						<th>Serie</th>
						<th>Date MC</th>
						<th>Modele</th>
						<th>Prix par jour</th>
					</tr>
					{% for i in liste_voitures %}
						<tr>
							<td>{{ i.serie }}</td>
							<td>{{ i.dateMiseCirculation | date('d-m-Y') }}</td>
							<td>{{ i.modele }}</td>
							<td>{{ i.prixJour }}</td>
						</tr>
					{% else %}
						<tr>
							<th>empty</th>
						</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>

{% endblock %}
